@media screen and (min-width: 300px){
    .intro{
        background-image: url('../assets/data.jpg');
        height: 850px;
        width: 100%;
        margin-top: -15px;
    }
    .name{
        color: 	#3C3B6E;
        margin-left: 130px;
        margin-top: 20px;
        font-size: 25px;
    }
    .role{
        color: #B22234;
        margin-left: 170px;
        margin-top: -10px;
        font-size: 20px;
    }
    .solutions{
        margin-top: 25px;
        margin-left: 90px;
        color: #FFFF;
    }
   .skills{
        margin-top: 50px;
    }
    .tech-skills{
        color: #3C3B6E;
        margin-left: 20px;
        font-weight: 600;
        font-style: italic;
    }
    .s-skills{
        margin-top: 50px;
    }
    .soft-skills{
        color: #FFFF;
        margin-left: 20px;
        font-weight: 600;
        font-style: italic;
    }
    .power-bi {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 90%;
        height: 10px;
        margin-left: 20px;
        
    }
    .r-studio, .python, .tableau, .sql{
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 90%;
        height: 10px;
        margin-left: 20px;
    }
    .power-bi td, .r-studio td, .python td, 
    .tableau td, .sql td {
        border: 1px solid #3C3B6E;
        padding: 8px;
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: left;
        color: white;
        background-color: #B22234;
    }
    .team-player{
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 90%;
        height: 10px;
        margin-left: 20px; 
        color: #B22234;
        background-color: #FFFF;
    }
    .comm, .lead, .manage, .details{
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 90%;
        height: 10px;
        margin-left: 20px; 
        color: #B22234;
        background-color: #FFFF;
    }
    .team-player td, .comm td, .lead td, .manage td, .details td{
        border: 1px solid #3C3B6E;
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: left;
    }
    #comm1{
        margin-top: 30px;
    }
    
}


@media screen and (min-width: 480px){
    .intro{
        height: 850px;
    }
    .anuli-pics{
        margin-left: 220px;
    }
    .name{
        color: 	#B22234;
        margin-left: 180px;
        margin-top: 20px;
        font-size: 30px;
    }
    .role{
        color: #3C3B6E;
        margin-left: 240px;
        font-size: 20px;
    }
    .solutions{
        margin-top: 25px;
        margin-left: 130px;
        font-size: 20px;
        color: #FFFF;
   }
    .power-bi {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 80%;
        height: 10px;
        margin-left: 40px;
        
    }
    .r-studio, .python, .tableau, .sql{
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 80%;
        height: 10px;
        margin-left: 40px;
    }
    .team-player{
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 80%;
        height: 10px;
        margin-left: 40px;
    }
    .comm, .lead, .manage, .details{
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 80%;
        height: 10px;
        margin-left: 40px;
    }
    
}



@media screen and (min-width: 800px){
    .intro{
        height: 950px;
    }
    .anuli-pics{
        margin-left: 520px;
    }
    .name{
        color: 	#B22234;
        margin-left: 480px;
        margin-top: 20px;
        font-size: 40px;
    }
    .role{
        color: #3C3B6E;
        margin-left: 550px;
        font-size: 20px;
    }
    .solutions{
        margin-top: 30px;
        margin-left: 390px;
        font-size: 25px;
        color: #FFFF;
   }
   .skills{
       margin-top: 100px;
   }
   .tech-skills{
       margin-left: 250px;
   }
   .soft-skills{
       margin-left: 240px;
   }
    .power-bi {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 50%;
        height: 10px;
        margin-left: 320px;  
    }
    .r-studio, .python, .tableau, .sql{
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 50%;
        height: 10px;
        margin-left: 320px;
    }
    .team-player{
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 50%;
        height: 10px;
        margin-left: 320px; 
    }
    .comm, .lead, .manage, .details{
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 50%;
        height: 10px;
        margin-left: 320px;
    }
}




